{% extends "main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->
<style>
  .md-header {
    position: sticky
  }

  .md-main__inner {
    margin: 0
  }

  .md-content {
    display: none
  }

  @media screen and (min-width:60em) {
    .md-sidebar--secondary {
      display: none
    }
  }

  @media screen and (min-width:76.25em) {
    .md-sidebar--primary {
      display: none
    }
  }

  code[class="language-python"] {
        font-size: 0.75rem;
  }

  code[class="language-javascript"] {
        font-size: 0.75rem;
  }
  
</style>

<!--documetation-->
<section class="section-white-body w-100">
  <div class="md-grid conteiner-row pt-1 pt-lg-5 my-4">
    <div class="px-3 ctx-header-text conteiner">
      <div class="conteiner-row">
        <p class="h1 text-xs-center t-b">
          <span style= "color:rgb(0, 0, 0);">S3-FIFO</span>
        </p>
      </div>
      <img src="assets/images/logos/binbash-landing-header.svg"
        class="laverage-header-img d-lg-none d-xl-none d-md-none d-sm-none d-xs-none mx-auto" />
      <p class="h2 text-xs-center spacing t-b" style="font-family:Sans-serif;"><b>Scalable</b> and <b>Efficient</b> Cache Eviction</p>
      <p class="h3 text-xs-center spacing"><span class="t-b"
          style="font-family:Sans-serif; color:#E65100;">Efficient</span><span style="font-family:arial; color:rgb(73, 69, 69);">: up to 72% lower
          miss ratio than LRU </span></p>
      <p class="h3 text-xs-center spacing"><span class="t-b"
          style="font-family:Sans-serif; color:#EF6C00;">Robust</span><span style="font-family:arial; color:rgb(73, 69, 69);">: evaluated on
          <b>6594</b> workloads from 12 companies</span></p>
      <p class="h3 text-xs-center spacing"><span class="t-b"
          style="font-family:Sans-serif; color:#FB8C00;">Scalable</span><span style="font-family:arial; color:rgb(73, 69, 69);">: <b>NO</b>
          locking</span></p>
      <p class="h3 text-xs-center spacing"><span class="t-b"
          style="font-family:Sans-serif; color:#FFA726;">Simple</span><span style="font-family:arial; color:rgb(73, 69, 69);">: only FIFO
          queues</span></p>
      <p class="h3 text-xs-center spacing"><span class="t-b"
          style="font-family:Sans-serif; color:#FFCC80;">Flash-friendly</span><span style="font-family:arial; color:rgb(73, 69, 69);">: to
          come</span></p>
      <p class="h3 text-xs-center spacing"><span class="t-b"
        style="font-family:arial; color:#050505;">* To appear in SOSP'23 and SNIA SDC'23</span></p>
      <div class="conteiner-row conteiner-xs">
        <button type="button" title="{{ page.next_page.title | e }}" 
          onclick="window.open('https://blog.s3fifo.com', '_blank')"
          class="btn-dark btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          Learn More
        </button>
        <button type="button" title="{{ page.next_page.title | e }}"
        onclick="scrollToLearnMoreSection()"
          class="btn-dark btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          Python Package
        </button>
        <button type="button" title="{{ page.next_page.title | e }}" 
        onclick="scrollToLearnMoreSection()"
          class="btn-dark btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          Javascript package
        </button>
        <!-- <button type="button" title="{{ page.next_page.title | e }}" onclick="scrollToSecondSection()"
          class="btn-dark btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          More to come soon
        </button> -->
        <!-- <button
          type="button"
          title="{{ page.next_page.title | e }}"
          onclick="window.open('https://join.slack.com/t/binbashar/shared_invite/zt-fw1692b6-9k4ADsWJ47lKacszphXM1w', '_blank')"
          class="btn-dark btn-xl-large btn-lg-large mx-3 mt-3 my-md-5 my-lg-5 my-xl-5 box-shadow"
        >
          SIEVE
        </button> -->
      </div>
    </div>
    <div class="ctx-header-img d-lg">
      <!-- barchar -->
      <div class="mx-auto w-9/10 overflow-hidden" style="margin-top: 6rem;">
        <canvas id="bar-chart" style="width: 140%; height: 400%;"></canvas>
        <!-- <canvas id="bar-chart"></canvas> -->
        <!-- <canvas id="bar-chart" class="efficiency-bar-chart"></canvas> -->
      </div>
    </div>
  </div>
</section>

<section class="section-white-body w-100" , id="howdoeswork">
  <div class="text-align-center t-b text-dark h1 mt-5">
    <p>How does S3-FIFO work?</p>
  </div>

  <p class="text-align-center t-b text-dark h2 my-1">
    <span class="h2 italic" style="color: #E65100;">S</span>imple and <span class="h2 italic"style="color: #E65100;">S</span>calable caching with <span
      class="h2 italic">three</span> <span class="h2 italic" style="color: #E65100;">S</span>tatic <span class="h2 italic">FIFO</span> queues
  </p>

  <div class="center-container my-2">
    <img src="assets/images/illustrations/s3fifo_diagram.gif" class="howdoeswork-img my-xs-5 my-sm-5 my-md-5" />
  </div>

</section>

<section class="section-dark-body w-100" , id="howgood">
  <div class="text-align-center t-b text-white h1 my-5">
    <p>How good is S3-FIFO?</p>
  </div>

  <div class="two-column-container my-3">
    <div class="howgood-chart d-lg">
      <!-- cachesize -->
      <div class="mx-auto w-8/10 overflow-hidden" style="margin-top: 0.5rem;">
        <canvas id="cachesize-bar-chart" style="width: 80%; height: 220%;"></canvas>
        <!-- <canvas id="cachesize-bar-chart" class="howgood-chart-style"></canvas> -->
      </div>
    </div>

    <div class="howgood-chart d-lg">
      <!-- throughput -->
      <div class="mx-auto w-8/10 overflow-hidden" style="margin-top: 0.5rem;">
        <canvas id="throughput-chart" style="width: 80%; height: 220%;"></canvas>
        <!-- <canvas id="throughput-chart" class="howgood-chart-style"></canvas> -->
      </div>
    </div>
  </div>

  <p class="text-align-center t-b text-white h2 mt-4">
    S3-FIFO reduces your LRU cache size by <span style="color: #E65100; font-size: 3rem;">46%</span>
    and improves the throughput by <span style="color: #E65100; font-size: 3rem;">6x</span>
  </p>
  <p class="text-align-center h4 mb-5">*  target miss ratio 10%, 16 threads</p>

</section>





<section class="section-white-body w-100" , id="usage">
  <div class="text-align-center t-b text-dark h1 mt-large">
    <p>How to use</p>
  </div>
  <div class="two-column-container my-4">
    <pre data-dependencies="python" class="language-python" tabindex="0"
      style="box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.2); margin-right: 2rem;">
<code class="language-python line-numbers">
from cachemonCache import S3FIFO

# Create a cache backed by DRAM
cache = S3FIFO(size=10) # or cache=LRU(size=10)         

# Add an object to the cache
cache.put("key", "value", ttl=10)

# Get an object from the cache
cache.get("key")
print(value) # Outputs: "value" or None

# Remove an object from the cache
cache.delete("key")

# Check if an object is in the cache
cache.has("key")
print(exists)  # Outputs: False</code>
    </pre>

    <pre data-dependencies="python" class="language-python" tabindex="0"
      style="box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.2); margin-left: 2rem;">
<code class="language-javascript line-numbers">
const { S3FIFO } = require('cachemonCache');           

// Create a cache backed by DRAM
const cache = new S3FIFO({ size: 10 }); 

// Add an object to the cache
cache.put("key", "value", { ttl: 10 });

// Get an object from the cache
const value = cache.get("key");
console.log(value); // Outputs: "value"

// Remove an object from the cache
cache.delete("key");

// Check if an object is in the cache
const exists = cache.has("key");
console.log(exists); // Outputs: false</code>    
  </pre>
  </div>

  <p class="text-align-center t-b text-dark h2">More languages to come!</p>
  <p class="text-align-center text-dark h3 mb-5">Contact us if you're interested</p>

</section>



<section class="section-dark-body w-100" , id="whydoeswork">
  <div class="text-align-center t-b text-while h1 mt-5">
    <p>Why does S3-FIFO work?</p>
  </div>

  <p class="text-align-center t-b text-white h2-2 my-2">
    A huge number of objects accessed once (called one-hit wonders)
    calling for precise
    <a href="https://s3fifo.com/blog/2023/06/01/fifo-is-better-than-lru-the-power-of-lazy-promotion-and-quick-demotion/" target="_blank" class="custom-link">quick demotion</a>:<br>
    S3-FIFO <span class="h2-2 italic">quickly</span> removes objects that will not be accessed in the future
  </p>

  <div class="center-container my-5">
    <div class="ctx-header-img d-lg">
      <!-- onehitwonder -->
      <div class="mx-auto w-8/10 overflow-hidden" style="margin-top: 0.5rem;">
        <canvas id="onehitwonder-bar-chart" style="width: 90%; height: 200%;"></canvas>
        <!-- <canvas id="onehitwonder-bar-chart" class="onehitwonder-chart-style"></canvas> -->
      </div>
    </div>
  </div>

</section>


<section class="section-white-body w-100" , id="adoption">
  <div class="text-align-center t-b text-dark h1-2 mt-4">
    <p>Adoption</p>
  </div>

  <div class="text-align-center italic t-500 text-dark h3 my-3">
    <p>To come ...</p>
  </div>

</section>

<section class="section-white-body w-100" , id="sponsors">
  <div class="text-align-center t-b text-dark h1-2 mt-4">
    <p>Acknowledgement</p>
  </div>

  <div class="text-align-center t-500 text-dark h3 my-3">
    <p><span class="t-b italic h2-2">Sponsors:</span><br>
      <a href="https://csd.cmu.edu/" target="_blank" class="custom-link-text">Carnegie Mellon University</a> <a href="https://www.pdl.cmu.edu/index.shtml" target="_blank" class="custom-link-text">Parallel Data Laboratory</a>
      <a href="https://www.cs.emory.edu/home/" target="_blank" class="custom-link-text">Emory University</a> <a href="https://simbiosys.mathcs.emory.edu/home" target="_blank" class="custom-link-text">SimBioSys Lab</a><br>
      Meta, Google, AWS, Microsoft, CloudLab, NSF</p><br>
    <p><span class="t-b italic h2-2">Dataset source:</span><br> 
      Meta, Tencent, Microsoft, Wikimedia, CloudPhysics</p>
  </div>

</section>


<section class="section-white-body w-100" , id="contactus">
  <div class="text-align-center t-b text-dark h1-2 mt-4">
    <p>Contact Us</p>
  </div>

  <div class="text-align-center t-500 text-dark h3 mt-3 mb-5">
    <a href="mailto:cachemon.org@gmail.com" target="_blank" class="custom-link">
      <i class="fa-solid fa-envelope fa-2x"></i></a>
    <a href="https://join.slack.com/t/cachemon/shared_invite/zt-20pjil08z-f9d1Ui~p1gfBnsedHP9x8Q" target="_blank" class="custom-link">
      <i class="fa-brands fa-slack fa-2x"></i></a>
    <a href="https://twitter.com/cachemon_org" target="_blank" class="custom-link">
      <i class="fa-brands fa-twitter fa-2x"></i></a>
    <a href="https://github.com/cacheMon" target="_blank" class="custom-link">
      <i class="fa-brands fa-github fa-2x"></i></a>
  </div>

</section>


<!-- Footer
<footer class="bg-dark w-100">
  <div class="center-footer my-4">
    <div class="icon-container">
      <a href="https://join.slack.com/t/cachemon/shared_invite/zt-20pjil08z-f9d1Ui~p1gfBnsedHP9x8Q" target="_blank">
        <img src="assets/images/logos/socialmedia/slack.svg" title="Slack" class="mx-1 cursor-pointer item-social-media"
          width="10%" />
      </a>
      <a href="https://www.linkedin.com/in/yazhuo-zhang-80833b15b/" target="_blank">
        <img src="assets/images/logos/socialmedia/linkedIn.svg" title="linkedIn"
          class="mx-1 cursor-pointer item-social-media" width="10%" />
      </a>
      <a href="https://github.com/cacheMon" target="_blank">
        <img src="assets/images/logos/socialmedia/github.svg" title="Github"
          class="mx-1 cursor-pointer item-social-media" width="10%" />
      </a>
      <a href="https://twitter.com/cachemon_org" target="_blank">
        <img src="assets/images/logos/socialmedia/twitter.svg" title="Twitter"
          class="mx-1 cursor-pointer item-social-media" width="10%" />
      </a>
    </div>
  </div>
</footer> -->

<script>

  // class Log2Axis extends Chart.Scale {
  //   constructor(cfg) {
  //     super(cfg);
  //     this._startValue = undefined;
  //     this._valueRange = 0;
  //   }

  //   parse(raw, index) {
  //     const value = Chart.LinearScale.prototype.parse.apply(this, [raw, index]);
  //     return isFinite(value) && value > 0 ? value : null;
  //   }

  //   determineDataLimits() {
  //     const {
  //       min,
  //       max
  //     } = this.getMinMax(true);
  //     this.min = isFinite(min) ? Math.max(0, min) : null;
  //     this.max = isFinite(max) ? Math.max(0, max) : null;
  //   }

  //   buildTicks() {
  //     const ticks = [];

  //     let power = Math.floor(Math.log2(this.min || 1));
  //     let maxPower = Math.ceil(Math.log2(this.max || 2));
  //     while (power <= maxPower) {
  //       ticks.push({
  //         value: Math.pow(2, power)
  //       });
  //       power += 1;
  //     }

  //     this.min = ticks[0].value;
  //     this.max = ticks[ticks.length - 1].value;
  //     return ticks;
  //   }

  //   /**
  //    * @protected
  //    */
  //   configure() {
  //     const start = this.min;

  //     super.configure();

  //     this._startValue = Math.log2(start);
  //     this._valueRange = Math.log2(this.max) - Math.log2(start);
  //   }

  //   getPixelForValue(value) {
  //     if (value === undefined || value === 0) {
  //       value = this.min;
  //     }

  //     return this.getPixelForDecimal(value === this.min ? 0 :
  //       (Math.log2(value) - this._startValue) / this._valueRange);
  //   }

  //   getValueForPixel(pixel) {
  //     const decimal = this.getDecimalForPixel(pixel);
  //     return Math.pow(2, this._startValue + decimal * this._valueRange);
  //   }
  // }

  // Log2Axis.id = 'log2';
  // Log2Axis.defaults = {};

  // Chart.register(Log2Axis);


  function scrollToLearnMoreSection() {
    const usageSection = document.getElementById('usage');
    usageSection.scrollIntoView({ behavior: 'smooth' });
  }

  function getFontSize() {
    const width = window.innerWidth;
    if (width < 600) {
      return 10; // Small screen font size
    } else if (width < 1000) {
      return 16; // Medium screen font size
    } else {
      return 20; // Large screen font size
    }
  }


  // barchar (performance-chart)
  // Data
  const dataChartBarDoubleDatasetsExample = {
    type: 'bar',
    data: {
      labels: ['Meta', 'Twitter', 'Wikimedia', 'Tencent', 'CDN'],
      datasets: [
        {
          label: 'FIFO',
          data: [0.0938,0.0574,0.1087,0.0967,0.0767],
          backgroundColor: '#889ABD',
          borderColor: '#889ABD',
        },
        {
          label: 'LRU',
          data: [0.0812,0.0488,0.0803,0.0659,0.0688],
          backgroundColor: '#778fc7',
          borderColor: '#778fc7',
        },
        {
          label: 'TinyLFU',
          data: [0.0853,0.0445,0.0605,0.0715,0.0656],
          backgroundColor: '#4F628E',
          borderColor: '#4F628E',
        },
        {
          label: 'S3-FIFO',
          data: [0.0755,0.0424,0.0629,0.0551,0.0622],
          backgroundColor: '#FFA630',
          borderColor: '#FFA630',
        },
      ],
    },
  };


  const optionsChartBarDoubleDatasetsExample = {
    options: {
      scales: {
        y:
        {
          stacked: false,
          ticks: {
            beginAtZero: true,
            font: {
              size: 16,
            },
          },
          title: {
            display: true,
            text: 'Mean Miss Ratio',
            font: {
              size: 20,
            }
          },
        },
        x:
        {
          stacked: false,
          ticks: {
            font: {
              size: 20,
            },
            align: 'right',
          }
        },
      },
      plugins: {
        legend: {
          align: 'end',
          labels: {
            font: {
              size: 18, // Set the font size of the legend here
            },
            // color: '#e6e5e3'
          },
          
        },
      },
    },
  };

  new te.Chart(
    document.getElementById('bar-chart'),
    dataChartBarDoubleDatasetsExample,
    optionsChartBarDoubleDatasetsExample
  );

  // throughput-chart
  const dataLine = {
    type: 'line',
    data: {
      labels: ['1', '2', '4', '8', '16'],
      datasets: [
        {
          label: 'LRU',
          data: [2, 3, 4, 5, 6],
          borderColor: '#4F628E',
          backgroundColor: '#4F628E',
        },
        {
          label: 'S3-FIFO',
          data: [2, 7, 12, 18, 28],
          borderColor: '#FFA630',
          backgroundColor: '#FFA630',
        },
      ],
    },
  };

  const optionsThroughput = {
    options: {
      scales: {
        x: {
          title: { 
            display: true, 
            text: 'Number of threads', 
            font: {
              size: 20,
            },
            color: '#e6e5e3'
          },
          ticks: {
            font: {
              size: 20,
            },
            color: '#e6e5e3'
          },
          // type: 'logarithmic',
        },
        y: {
          title: { 
            display: true, 
            text: 'Throughput (MOPS/s)', 
            font: {
              size: 20,
            },
            color: '#e6e5e3'
          },
          ticks: {
            font: {
              size: 20,
            },
            color: '#e6e5e3'
          },
        },
      },

      plugins: {
        legend: {
          labels: {
            font: {
              size: 20, // Set the font size of the legend here
            },
            color: '#e6e5e3'
          },
        },
      },
    },
  };

  new te.Chart(
    document.getElementById('throughput-chart'),
    dataLine,
    optionsThroughput
  );


  // barchar (cachesize-chart)
  const dataCachesizeBarChart = {
    type: 'bar',
    data: {
      labels: ['Meta', 'Twitter', 'Wikimedia ', 'Alibaba', 'Tencent', 'CDN1', 'CDN2'],
      datasets: [
        {
          label: 'LRU',
          data: [1,1,1,1,1,1,1],
          backgroundColor: '#4F628E',
          borderColor: '#4F628E',
        },
        {
          label: 'S3-FIFO',
          data: [0.78,0.64,0.71,0.81,0.84,0.72,0.54],
          backgroundColor: '#FFA630',
          borderColor: '#FFA630',
        },
      ],
    },
  };


  const optionsdataCachesizeBarChart = {
    options: {
      scales: {
        y:
        {
          stacked: false,
          ticks: {
            beginAtZero: true,
          },
          title: {
            display: true,
            // text: [['Cache Size'], ['to achieve around 10% miss ratio)']],
            // text: ['Cache Size', 'to achieve around 10% miss ratio'],
            text: "Cache Size",
            color: '#e6e5e3',
            font: {
              size: 20,
              
            }
          },
          ticks: {
            font: {
              size: 20,
            },
            color: '#e6e5e3',
          }
        },
        x:
        {
          stacked: false,
          ticks: {
            font: {
              size: 20,
            },
            color: '#e6e5e3',
          }
        },
      },
      plugins: {
        legend: {
          labels: {
            font: {
              size: 20, // Set the font size of the legend here
            },
            color: '#e6e5e3'
          },
        },
      },
    },
  };

  new te.Chart(
    document.getElementById('cachesize-bar-chart'),
    dataCachesizeBarChart,
    optionsdataCachesizeBarChart
  );

  // barchar (cachesize-chart)
  const dataOnehitwonderBarChart = {
    type: 'bar',
    data: {
      labels: ['0.01', '0.1', '0.5', '0.8'],
      datasets: [
        {
          label: 'Zipf',
          data: [0.88, 0.80, 0.52, 0.255],
          backgroundColor: '#4F628E',
          borderColor: '#4F628E',
        },
        {
          label: 'MSR',
          data: [0.88, 0.8, 0.52, 0.265],
          backgroundColor: '#507D1D',
          borderColor: '#507D1D',
        },
        {
          label: 'Twitter',
          data: [0.375, 0.26, 0.19, 0.12],
          backgroundColor: '#FFA630',
          borderColor: '#FFA630',
        },
      ],
    },
  };


  const optionsdataOnehitwonderBarChart = {
    options: {
      scales: {
        y:
        {
          stacked: false,
          ticks: {
            beginAtZero: true,
          },
          title: {
            display: true,
            text: 'fraction of evicted objects with frequency one',
            font: {
              size: 22,
            },
            color: '#e6e5e3',
          },
          ticks: {
            font: {
              size: 20,
            },
            color: '#e6e5e3',
          }
        },
        x:
        {
          stacked: false,
          title: {
            display: true,
            text: 'Cache size (fraction of objects in the trace)',
            font: {
              size: 28,
            },
            color: '#e6e5e3',
          },
          ticks: {
            font: {
              size: 20,
            },
            color: '#e6e5e3',
          }
        },
      },
      plugins: {
        legend: {
          labels: {
            font: {
              size: 24, // Set the font size of the legend here
            },
            color: '#e6e5e3'
          },
        },
      },
    },
  };

  new te.Chart(
    document.getElementById('onehitwonder-bar-chart'),
    dataOnehitwonderBarChart,
    optionsdataOnehitwonderBarChart
  );


</script>

{% endblock %}
