{% extends "main-styles.html" %}

<!-- Render hero under tabs -->
{% block tabs %}
{{ super() }}

<!-- Hero for landing page -->
<style>
  .md-header {
    position: sticky
  }

  .md-main__inner {
    margin: 0
  }

  .md-content {
    display: none
  }

  @media screen and (min-width:60em) {
    .md-sidebar--secondary {
      display: none
    }
  }

  @media screen and (min-width:76.25em) {
    .md-sidebar--primary {
      display: none
    }
  }

  code[class="language-python"] {
    font-size: 0.75rem;
  }

  code[class="language-javascript"] {
    font-size: 0.75rem;
  }
</style>


<!--documetation-->
<section class="section-white-body w-100">
  <div class="md-grid conteiner-row pt-1 pt-lg-5 my-4">
    <div class="px-3 ctx-header-text conteiner">
      <div class="conteiner-row">
        <p class="h1 text-xs-center t-b">
          <span style="color:rgb(0, 0, 0);">S3-FIFO</span>
        </p>
      </div>
      <p class="h2 text-xs-center spacing t-b" style="font-family:Sans-serif;"><b>Scalable</b> and <b>Efficient</b>
        Cache Eviction</p>
      <p class="h3 text-xs-center spacing"><span class="t-b"
          style="font-family:Sans-serif; color:#E65100;">Efficient</span><span
          style="font-family:arial; color:rgb(73, 69, 69);">: up to 72% lower
          miss ratio than LRU </span></p>
      <p class="h3 text-xs-center spacing"><span class="t-b"
          style="font-family:Sans-serif; color:#EF6C00;">Robust</span><span
          style="font-family:arial; color:rgb(73, 69, 69);">: evaluated on
          <b>6594</b> workloads from 12 companies</span></p>
      <p class="h3 text-xs-center spacing"><span class="t-b"
          style="font-family:Sans-serif; color:#FB8C00;">Scalable</span><span
          style="font-family:arial; color:rgb(73, 69, 69);">: <b>NO</b>
          locking</span></p>
      <p class="h3 text-xs-center spacing"><span class="t-b"
          style="font-family:Sans-serif; color:#FFA726;">Simple</span><span
          style="font-family:arial; color:rgb(73, 69, 69);">: FIFO
          queues only </span></p>
      <p class="h3 text-xs-center spacing"><span class="t-b"
          style="font-family:Sans-serif; color:#FFCC80;">Flash-friendly</span><span
          style="font-family:arial; color:rgb(73, 69, 69);">: sequential writes only </span></p>
      <p class="h3 text-xs-center spacing"><span class="t-b" style="font-family:arial; color:#050505;">* appear in
          SOSP'23</span></p>
      <div class="conteiner-row conteiner-xs">
        <button type="button" title="{{ page.next_page.title | e }}"
          onclick="window.open('https://blog.s3fifo.com', '_blank')"
          class="btn-dark btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          Learn More
        </button>
        <button type="button" title="{{ page.next_page.title | e }}"
          onclick="window.open('https://dl.acm.org/doi/10.1145/3600006.3613147', '_blank')"
          class="btn-dark btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          Paper
        </button>
        <button type="button" title="{{ page.next_page.title | e }}"
          onclick="window.open('https://youtu.be/5T2dHj0eHC0', '_blank')"
          class="btn-dark btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          Watch Video
        </button>
        <button type="button" title="{{ page.next_page.title | e }}"
          onclick="window.open('https://jasony.me/slides/sosp23-s3fifo.pdf', '_blank')"
          class="btn-dark btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          Slides
        </button>
        <!-- <button type="button" title="{{ page.next_page.title | e }}" onclick="scrollToLearnMoreSection()"
          class="btn-dark btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          Python Package
        </button> -->
        <!-- <button type="button" title="{{ page.next_page.title | e }}" onclick="scrollToSecondSection()"
          class="btn-dark btn-xl-large btn-lg-large mx-2 mt-2 my-md-4 my-lg-4 my-xl-4 box-shadow">
          More to come soon
        </button> -->
      </div>
    </div>
    <div class="ctx-header-img d-lg">
      <!-- barchar -->
      <div class="mx-auto w-9/10 overflow-hidden" style="margin-top: 6rem;">
        <canvas id="bar-chart" style="width: 140%; height: 400%;"></canvas>
      </div>
    </div>
  </div>
</section>

<section class="section-white-body w-100" , id="howdoeswork">
  <div class="text-align-center t-b text-dark h1 mt-5">
    <p>How does S3-FIFO work?</p>
  </div>

  <p class="text-align-center t-b text-dark h2 my-1">
    <span class="h2 italic" style="color: #E65100;">S</span>imple and <span class="h2 italic"
      style="color: #E65100;">S</span>calable caching with <span class="h2 italic">three</span> <span class="h2 italic"
      style="color: #E65100;">S</span>tatic <span class="h2 italic">FIFO</span> queues
  </p>

  <div class="center-container my-2">
    <img src="assets/images/illustrations/s3fifo_diagram.gif" class="howdoeswork-img my-xs-5 my-sm-5 my-md-5" />
  </div>

</section>

<section class="section-dark-body w-100" , id="howgood">
  <div class="text-align-center t-b text-white h1 my-5">
    <p>How good is S3-FIFO?</p>
  </div>

  <div class="two-column-container my-3">
    <div class="howgood-chart d-lg">
      <!-- cachesize -->
      <div class="mx-auto w-8/10 overflow-hidden" style="margin-top: 0.5rem;">
        <canvas id="cachesize-bar-chart" style="width: 80%; height: 220%;"></canvas>
        <!-- <canvas id="cachesize-bar-chart" class="howgood-chart-style"></canvas> -->
      </div>
    </div>

    <div class="howgood-chart d-lg">
      <!-- throughput -->
      <div class="mx-auto w-8/10 overflow-hidden" style="margin-top: 0.5rem;">
        <canvas id="throughput-chart" style="width: 80%; height: 220%;"></canvas>
        <!-- <canvas id="throughput-chart" class="howgood-chart-style"></canvas> -->
      </div>
    </div>
  </div>

  <p class="text-align-center t-b text-white h2 mt-4">
    S3-FIFO reduces your LRU cache size by <span style="color: #E65100; font-size: 3rem;">46%</span>
    and improves the throughput by <span style="color: #E65100; font-size: 3rem;">6x</span>
  </p>
  <p class="text-align-center h4 mb-5">* target miss ratio 10%, 16 threads</p>

</section>





<section class="section-white-body w-100" , id="usage">
  <div class="text-align-center t-b text-dark h1 mt-large">
    <p>How to use</p>
  </div>
  <div class="two-column-container my-4">
    <pre data-dependencies="python" class="language-python" tabindex="0"
      style="box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.2); margin-right: 2rem;">
<code class="language-python line-numbers">
from cachemonCache import S3FIFO

# Create a cache backed by DRAM
cache = S3FIFO(size=10) # or cache=LRU(size=10)         

# Add an object to the cache
cache.put("key", "value", ttl=10)

# Get an object from the cache
cache.get("key")
print(value) # Outputs: "value" or None

# Remove an object from the cache
cache.delete("key")

# Check if an object is in the cache
cache.has("key")
print(exists)  # Outputs: False</code>
    </pre>

    <pre data-dependencies="python" class="language-python" tabindex="0"
      style="box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.2); margin-left: 2rem;">
<code class="language-javascript line-numbers">
const { S3FIFO } = require('cachemonCache');           

// Create a cache backed by DRAM
const cache = new S3FIFO({ size: 10 }); 

// Add an object to the cache
cache.put("key", "value", { ttl: 10 });

// Get an object from the cache
const value = cache.get("key");
console.log(value); // Outputs: "value"

// Remove an object from the cache
cache.delete("key");

// Check if an object is in the cache
const exists = cache.has("key");
console.log(exists); // Outputs: false</code>    
  </pre>
  </div>

  <p class="text-align-center t-b text-dark h2">More languages to come!</p>
  <p class="text-align-center text-dark h3 mb-5">Contact us if you're interested</p>

</section>



<section class="section-dark-body w-100" , id="whydoeswork">
  <div class="text-align-center t-b text-white h1 mt-5">
    <p>Why does S3-FIFO work?</p>
  </div>

  <p class="text-align-center t-b text-white h2-2 my-2">
    A huge number of objects accessed once (called one-hit wonders) calling for
    <a href="https://s3fifo.com/blog/2023/06/01/fifo-is-better-than-lru-the-power-of-lazy-promotion-and-quick-demotion/"
      target="_blank" class="custom-link">quick demotion</a>:<br>
    S3-FIFO <span class="h2-2 italic">quickly</span> removes objects that will not be accessed in the future
  </p>

  <div class="center-container my-5">
    <div class="ctx-header-img d-lg">
      <!-- onehitwonder -->
      <div class="mx-auto w-8/10 overflow-hidden" style="margin-top: 0.5rem;">
        <canvas id="onehitwonder-bar-chart" style="width: 90%; height: 200%;"></canvas>
        <!-- <canvas id="onehitwonder-bar-chart" class="onehitwonder-chart-style"></canvas> -->
      </div>
      <p class="text-align-center t-b text-white h3">Figure shows that most of the objects evicted by LRU spend long
        time in the cache without reuse. </p>
    </div>
  </div>

</section>


<section class="section-white-body w-100" , id="adoption">
  <div class="text-align-center t-b text-dark h1-2 mt-4">
    <p>Adoption</p>
  </div>

  <div class="text-align-center text-dark h3 my-3">
    <p>Google, VMware,
      <a target="_blank" class="custom-link-text"
        href="https://github.com/redpanda-data/redpanda/pull/14759">Redpanda</a>,
      <a target="_blank" class="custom-link-text"
        href="https://github.com/cloudflare/pingora/tree/main/tinyufo">Cloudflare</a>,
      <a target="_blank" class="custom-link-text"
        href="https://github.com/risingwavelabs/risingwave/pull/16208">Risingwave</a>,
        <a target="_blank" class="custom-link-text"
        href="https://github.com/dmlc/dgl/pull/7492">Deep Graph Library</a>,
      <a target="_blank" class="custom-link-text"
        href="https://github.com/matrixorigin/matrixone/blob/c582b7d3ce8f7c177f2bd268a37375ae1a5b18bd/pkg/fileservice/fifocache/fifo.go#L24">MatrixOne</a>, 
      and <a target="_blank" class="custom-link-text"
        href="https://github.com/ua-parser/uap-python/pull/197/commits/9b24838f3a3b57873eee0459ca161d5d8b6ddf16">uap-python</a>,
    </p>
    <!-- other libraries -->
    <!-- https://github.com/shenghansen/EdgeKV/blob/master/src/edge/S3FIFO.cpp -->

    <p> mulitple large open-source libraries, such as
      <a target="_blank" class="custom-link-text" href="https://github.com/maypok86/otter">otter (Golang)</a>,
      <a target="_blank" class="custom-link-text"
        href="https://github.com/surrealdb/surrealkv/blob/main/src/storage/cache/s3fifo.rs">surrealkv (Rust)</a>,
      <a target="_blank" class="custom-link-text" href="https://github.com/arthurprs/quick-cache">quick-cache
        (Rust)</a>,
      <a target="_blank" class="custom-link-text"
        href="https://github.com/falsandtru/spica/blob/master/src/s3-fifo.ts">spica (Javascript)</a>,
      <a target="_blank" class="custom-link-text"
        href="https://github.com/foyer-rs/foyer/pull/303">foyer (Rust)</a>,
      <br>
      and many other cache libraries in
      Golang 
      <a target="_blank" class="custom-link-text" href="https://github.com/scalalang2/golang-fifo">[1]</a>,
      <a target="_blank" class="custom-link-text" href="https://github.com/Disdjj/go-s3-fifo">[2]</a>,
      
      Python <a target="_blank" class="custom-link-text" href="https://github.com/cmcaine/s3fifo.py">[1]</a>,
      <!-- Python <a target="_blank" class="custom-link-text" href="https://github.com/66RING/the-chaos">[1]</a>, -->
      
      Rust <a target="_blank" class="custom-link-text" href="https://github.com/totoroyyb/S3-FIFO">[1]</a>,
      <a target="_blank" class="custom-link-text" href="https://github.com/wfraser/s3fifo">[2]</a>,
      <a target="_blank" class="custom-link-text" href="https://github.com/willb0/s3-fifo-rs">[3]</a>,
      <a target="_blank" class="custom-link-text" href="https://github.com/qsib-cbie/s3-fifo">[4]</a>,
      
      C++ <a target="_blank" class="custom-link-text" href="https://github.com/thelamon/s3fifo_cpp">[1]</a>,
      <a target="_blank" class="custom-link-text" href="https://github.com/Ilistratov/S3-FIFO">[2]</a>,
      
      Java <a target="_blank" class="custom-link-text" href="https://github.com/malets12/s3fifo">[1]</a>,
      <a target="_blank" class="custom-link-text" href="https://github.com/Saalik/S3FCache">[2]</a>,
      
      Zig <a target="_blank" class="custom-link-text" href="https://github.com/Jeevananthan-23/ziglang-caches">[1]</a>,

      Javascript <a target="_blank" class="custom-link-text" href="https://github.com/Tom910/s3-fifo-cache">[1]</a>.
    </p>
    <p>
      Discussed in <a target="_blank" class="custom-link-text"
        href="https://charap.co/winter-2023-2024-reading-group-papers/">Aleksey's Online Reading Group</a>,
      <a target="_blank" class="custom-link-text"
        href="https://docs.google.com/document/d/1XX5ksgLVnkPE-dfeVDZPlv5NMbgxJqWmi13YEQt1t1o/edit#heading=h.k6znr7t8urvp">
        UIUC CS525</a>.
    </p>
    <p>
      Covered in blog
      <a target="_blank" class="custom-link-text" href="https://www.polyscale.ai/blog/one-hit-expectation/">[1]</a>,
      <a target="_blank" class="custom-link-text" href="https://amarchenko.dev/blog/2023-10-12-memory-cache/">[2]</a>,
      <a target="_blank" class="custom-link-text"
        href="https://sidhion.com/blog/posts/function-image-eviction/">[3]</a>,
      <a target="_blank" class="custom-link-text"
        href="https://medium.com/rate-labs/%EC%96%B4%EB%96%A4-%EC%86%8C%EA%B0%80-%EC%9D%BC%EC%9D%84-%EB%8D%94-%EC%9E%98%ED%95%A9%EB%8B%88%EA%B9%8C-fifo%EA%B0%80-lru%EB%B3%B4%EB%8B%A4-%EB%82%AB%EC%8A%B5%EB%8B%88%EB%8B%A4%EC%9A%94-1a49b9060ce4">[4]</a>
      in Korean,
      <a target="_blank" class="custom-link-text" href="https://tiisys.com/blog/2023/12/06/post-130211/2/">[5]</a> in
      Japanese,
      <a target="_blank" class="custom-link-text" href="https://habr.com/ru/companies/ruvds/articles/759270/">[6]</a> in
      Russian,

      newsletters 
      <a target="_blank" class="custom-link-text"
        href="https://www.pointer.io/archives/0a85ffc4cd/">[1]</a>,
      <!-- <a target="_blank" class="custom-link-text"
        href="https://newsletter.programmingdigest.net/p/design-philosophy-great-tables">[2]</a>, -->
      <a target="_blank" class="custom-link-text" href="https://leahneukirchen.org/trivium/2023-09">[2]</a>,
      conference <a target="_blank" class="custom-link-text" href="https://bbconf.kr/archive/">in Korea</a>, <a
        target="_blank" class="custom-link-text"
        href="https://ftp.yuni.dev/bbconf/2023-winter/LDH_SIEVE_S3_FIFO_Cache_%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0_%EC%86%8C%EA%B0%9C.pdf">[2]</a>

    </p>

    <p> let us know if you would like to be featured here.</p>
  </div>

</section>

<section class="section-white-body w-100" , id="sponsors">
  <div class="text-align-center t-b text-dark h1-2 mt-4">
    <p>Acknowledgement</p>
  </div>

  <div class="text-align-center t-500 text-dark h3 my-3">
    <p><span class="t-b italic h2-2">Sponsors:</span><br>
      <a href="https://csd.cmu.edu/" target="_blank" class="custom-link-text">Carnegie Mellon University</a> <a
        href="https://www.pdl.cmu.edu/index.shtml" target="_blank" class="custom-link-text">Parallel Data Laboratory</a>
      <a href="https://www.cs.emory.edu/home/" target="_blank" class="custom-link-text">Emory University</a> <a
        href="https://simbiosys.mathcs.emory.edu/home" target="_blank" class="custom-link-text">SimBioSys Lab</a><br>
      Meta, Google Cloud, AWS, Microsoft Azure, CloudLab, Sloan Foundation VMware, and NSF
    </p><br>
    <p><span class="t-b italic h2-2">Dataset source:</span><br>
      Twitter, Meta, Tencent, Microsoft, Wikimedia, CloudPhysics</p>
  </div>

</section>


<section class="section-white-body w-100" , id="contactus">
  <div class="text-align-center t-b text-dark h1-2 mt-4">
    <p>Contact Us</p>
  </div>

  <div class="text-align-center t-500 text-dark h3 mt-3 mb-5">
    <a href="mailto:cachemon.org@gmail.com" target="_blank" class="custom-link">
      <i class="fa-solid fa-envelope fa-2x"></i></a>
    <a href="https://join.slack.com/t/cachemon/shared_invite/zt-20pjil08z-f9d1Ui~p1gfBnsedHP9x8Q" target="_blank"
      class="custom-link">
      <i class="fa-brands fa-slack fa-2x"></i></a>
    <a href="https://twitter.com/cachemon_org" target="_blank" class="custom-link">
      <i class="fa-brands fa-twitter fa-2x"></i></a>
    <a href="https://github.com/cacheMon" target="_blank" class="custom-link">
      <i class="fa-brands fa-github fa-2x"></i></a>
  </div>

</section>


<footer>
  <!-- this needs to go after body because the canvas not ready until now -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.2.0/chart.js"
    integrity="sha512-opXrgVcTHsEVdBUZqTPlW9S8+99hNbaHmXtAdXXc61OUU6gOII5ku/PzZFqexHXc3hnK8IrJKHo+T7O4GRIJcw=="
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="/mychart.js"></script>
</footer>


{% endblock %}